.footer {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: var(--footer-spacing) 0;

  @media screen and (max-width: ($md - 1)) {
    padding: var(--footer-spacing-mobile) 0;
  }

  @media screen and (max-width: ($sm - 1)) {
    padding: $size-52 0;
  }

  strong {
    text-transform: uppercase;
    color: var(--color-primary);
  }

  a {
    color: var(--color-black);
  }

  .inner {
    > div {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: ($sm)) {
        align-items: flex-end;
      }
    }
  }
}
