.splashBanner {
  position: relative;
  .inner {
    height: 100%;
  }

  .logo {
    position: absolute;
    bottom: -$size-52;
    right: -$size-152;
    z-index: 1;
    width: $xs;
    height: $xs;

    @media screen and (max-width: ($sm - 1)) {
      bottom: -$size-24;
      right: -$size-72;
      width: $micro;
      height: $micro;
    }
  }

  .content {
    padding: $size-52 var(--container-padding) $size-52;

    @media screen and (min-width: ($lg)) {
      padding: $size-200 $size-80 $size-200 var(--container-padding);
      width: 50%;
    }

    @media screen and (max-width: ($sm - 1)) {
      padding: var(--container-padding);
    }

    .inner {
      @media screen and (min-width: ($lg)) {
        max-width: $xs - 50px;
      }

      @media (max-width: ($lg - 1)) and (min-width: ($sm)) {
        max-width: $xs - 10px;
        margin: 0 auto;
      }

      @media screen and (max-width: ($sm - 1)) {
        width: 100%;
      }
    }

    strong {
      color: var(--color-primary-bright);
      font-size: $size-12;
      text-transform: uppercase;
    }

    ul {
      padding: 0;
      margin: $size-16 0 0;
      list-style: none;
      font-size: $size-16;
      display: flex;
      flex-direction: column;
      gap: $size-12;

      li {
        margin: 0;
      }
    }
  }

  h1 {
    color: var(--color-primary);

    @media screen and (min-width: ($lg)) {
      font-size: $size-60;
    }

    @media screen and (max-width: ($sm - 1)) {
      font-size: $size-40;
    }
  }

  h2 {
    font-size: $size-36;
    color: var(--color-primary-bright);
    font-style: italic;
    margin-bottom: $size-72;

    @media screen and (max-width: ($md - 1)) {
      font-size: $size-28;
    }
  }

  .image-box {
    position: relative;

    @media screen and (min-width: ($lg)) {
      width: 50%;
    }

    @media screen and (max-width: ($lg - 1)) {
      width: 100%;
      height: 0;
      padding-top: $size-100;
      padding-bottom: 56.25%;
    }

    @media screen and (max-width: ($md - 1)) {
      padding-bottom: 80%;
    }

    @media screen and (max-width: ($sm - 1)) {
      padding-bottom: 100%;
    }
  }

  .contentFooter {
    border-top: $size-1 solid var(--color-black);
    margin-top: $size-72;
    font-size: $size-14;
    padding-top: $size-32;
  }
}
